section#posts-archive {
	padding: 20px 0 75px 0;

	&.date section#filters a.date-link,
	&.popular section#filters a.popular-link,
	&.comments section#filters a.comments-link {
		color: $blue;
	}

	section#filters {
		background: $white;
		padding: 15px 20px;
		box-shadow: 0 2px 4px rgba(187, 187, 187, 0.5);
		display: flex;
		flex-wrap: wrap;

		& > * {
			width: 100%;

			@include tablet-portrait {
				width: auto;
			}
		}

		strong {
			font-size: 1.25em;
			display: block;
		}

		a {
			font-size: 1.25em;
			display: block;
			padding: 10px 0 0 0;
			color: $charcoal;

			@include tablet-portrait {
				padding: 0 0 0 25px;
			}

			&:hover {
				color: $blue;
			}
		}

		.category-dropdown {
			padding: 10px 0 0 0;

			@include tablet-portrait {
				padding: 0 0 0 25px;
			}
		}
	}	

	.archive-header {
		padding-top: 50px;

		h1 {
			font-size: 1.25em;
		}
	}




	.posts {
		padding-top: 50px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 25px;


		@include mobile-portrait {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 25px;
		}

		@include tablet-landscape {
			grid-template-columns: repeat(4, 1fr);

			article:nth-child(1) {
				grid-column: 1 / span 2;
			}

			article:nth-child(2) {
				grid-column: 3 / span 2;
			}

			article:nth-child(1),
			article:nth-child(2) {
				.info {
					padding: 40px;

					ul {
						padding: 0 0 20px 0;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;

						li {
							font-size: 1em;
							width: 100%;

							& + li {
								padding: 10px 0 0 0;
							}

							@include tablet-portrait {
								width: auto;
								position: relative;

								& + li {
									padding: 0 0 0 20px;

									&:before {
										content: '·';
										color: $blue;
										font-weight: bold;
										position: absolute;
										left: 8px;
										top: -1px;
									}
								}
							}

							a {
								font-weight: 700;
								
								letter-spacing: 0.05em;
								text-transform: uppercase;
							}
						}
					}

					h3 {
						font-size: 1.5em;
					}
				}
			}

		}

		article {
			box-shadow: 0 4px 4px rgba(205, 205, 205, 0.5);
			background: $white;

			&.video {
				.image {
					position: relative;

					span.play {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 39px;
						height: 39px;

						@include tablet-portrait {
							width: 78px;
							height: 78px;		
						}

					}
				}
			}

			.info {
				padding: 25px 40px;
				text-align: center;

				h3 {
					font-size: 1.25em;

					a {
						color: $charcoal;
					}
				}

				ul {
					padding: 0 0 20px 0;

					li {
						font-size: 0.75em;

						& + li {
							padding: 5px 0 0 0;
						}

						a {
							font-weight: 700;
							
							letter-spacing: 0.05em;
							text-transform: uppercase;
						}
					}

				}

			}
		}
	}

}


body.search {

	.no-posts {
		padding: 50px 0 0 0;

		@include tablet-portrait {
			min-height: 500px;
		}
	}

}

.image .wpp-thumbnail {
	float: none;
	display: block;
	margin: 0;
}

body#popular, 
body#comments {

	.archive-header {
		text-align: center;
		padding: 50px 0 25px 0;

		h1 {
			font-size: 1.75em;
		}
	}

	.top-posts {
		counter-reset: article;
		margin: 0 auto;
		max-width: 480px;

		article {
			display: flex;
			align-items: center;
			counter-increment: article;
			padding: 25px 15px;

			& + article {				
				border-top: 1px dotted #ddd;
			}

			&:before {
				content: counter(article);
				font-size: 2em;
				font-weight: bold;
				display: block;
				padding: 0 20px 0 0;
			}

			h3 {
				font-weight: normal;
			}
			

		}
	}

}