body.single-tribe_events {

	#tribe-events-content {
		padding: 50px 0;
		margin: 0;
	}

	.tribe-events-content {
		blockquote {
			padding: 0;
			margin: 0;

			p {
				margin: 0 !important;

				& + p {
					padding: 20px 0 0 0;
				}
			}
		}
	}

}


body.post-type-archive-tribe_events {

	#tribe-events-pg-template {
		padding: 50px 0;
	}

	.tribe-mobile-day {
		padding: 20px 10px;
	}


}


