footer {
	padding: 50px 0;
	background: #2A2C2B;
	color: $white;
	border-bottom: 100px solid #1E221F;

	a {
		color: $white;
	}

	.wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 50px;


		@include mobile-portrait {
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 25px;
		}

		@include tablet-portrait {
			grid-template-columns: repeat(6, 1fr);
		}


	}

	.logo {

		a {
			display: block;
			max-width: 103px;
			margin: 0 0 20px 0;
		}

		p {
			font-size: 0.75em;
			line-height: 1.25em;
			padding: 0 20px 0 0;
		}

	}

	.column {

		h4 {
			font-size: 1em;
			padding: 0 0 20px 0;

			@include tablet-landscape {
				font-size: 1.25em;
			}
		}

		ul {
			li {
				font-size: 0.8125em;
				font-weight: 600;
				padding: 0 0 10px 0;

				@include tablet-landscape {
					font-size: 0.9375em;
				}
			}
		}
	}

}