body#clearlink-guide {


	#guide-links {
		@media screen and (max-width: 767px) {
			position: static !important;
			width: 100% !important;
			top: auto !important;
			left: auto !important;
			margin-left: 0 !important;

			& + div {
				display: none !important;				
			}

		}

		.search-toggle,
		.text-search {
			display: none;

			@include tablet-portrait {
				display: block;
			}
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.text-search {
				display: none;		

				&.flex {
					display: flex;
					width: 100%;
					justify-content: center;
					padding: 20px 0 0 0;
					align-items: center;
				}

				input[type="search"] {
					margin-right: 20px;
					border-radius: none;
					border: none;
					padding: 5px;
				}


				button {
					background: transparent;
					color: $white;
					border: 1px solid $white;
					padding: 5px 15px 2px 15px;
					line-height: 1.5em;
					font-weight: 900;

					&[data-search="next"] {
						margin: 0 10px 0 0;
					}
 					

				}

			}
		}



	}



	section#hero {
		min-height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 25px;

		@include tablet-portrait {
			min-height: 300px;
		}

		@include tablet-landscape {
			min-height: 460px;
		}
	
		.info {
			text-align: center;
			color: $white;

			h1 {
				padding: 0 0 20px 0;

				@include tablet-portrait {
					font-size: 2em;
					padding: 0 0 40px 0;
				}

				@include tablet-landscape {
					font-size: 3em;
					padding: 0 0 60px 0;
				}


				span.c {
					border-bottom: 2px solid $white;

					@include tablet-portrait {
						border-bottom: 4px solid $white;
					}
				}
				span.guide {
					background: #48206C;
					padding: 4px;
				}
			}

			p {
				font-size: 1em;
				line-height: 1.25em;
				margin: 0 auto;
				max-width: 540px;

				@include tablet-portrait {
					font-size: 1.5em;
				}

				@include tablet-landscape {
					max-width: 680px;

				}
			}
		}
	}

	section#table-of-contents {
		padding: 50px 0;
		counter-reset: section;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@include tablet-portrait {
			padding: 100px 0;
		}

		@include tablet-landscape {
			padding: 125px 0;
		}

		&:last-of-type {
			padding-bottom: 0;
		}

		.content-section {
			counter-increment: section;
			padding: 0 0 100px 0;

			&.order-6 {
				padding-bottom: 50px;
			}

			@include tablet-portrait {
				padding: 0 0 150px 0;
			}



			.wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}

			&.order-1 { order: 1; }
			&.order-2 { order: 2; }
			&.order-3 { order: 3; }
			&.order-4 { order: 4; }
			&.order-5 { order: 5; }
			&.order-6 { order: 6; }
			&.order-7 { order: 7; }
			&.order-8 { order: 8; }

			.info {
				padding: 0 0 40px 0;
				width: 100%;

				@include tablet-portrait {
					width: 40%;
				}

				h4 {
					color: $blue;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1em;
					padding: 0 0 10px 0;
					
					&:after {
						content: counter(section);
					}
				}

				h3 {
					font-size: 2.25em;
					font-weight: normal;
					color: $charcoal;
					padding: 0 0 40px 0;
				}

				h5 {
					font-size: 1.25em;
					line-height: 1.35em;
					color: $charcoal;
				}

				p {
					font-size: 1.25em;
					line-height: 1.35em;
					color: $charcoal;
					padding: 0 0 40px 0;
				}

				.btn {
					font-size: 0.875em;
				}

			}

			.photo {
				width: 100%;
				
				@include tablet-portrait {
					width: 50%;
				}
			}


			&:nth-child(even) {
				.photo {
					@include tablet-portrait {
						order: -1;
					}
				}

			}

			&:nth-child(odd) {
				.photo {
					@include tablet-portrait {
						img {
							margin-left: auto;
						}
					}
				}
			}

			&.featured-image {
				order: 3;
				padding: 0;
				min-height: 200px;
				margin: 0 0 50px 0;

				@include tablet-portrait {
					min-height: 300px;
					margin: 0 0 100px 0;
				}

				@include tablet-landscape {
					min-height: 400px;
					margin: 0 0 125px 0;
				}

			}



		}


	}

	section.guide-section {

		.wrapper {
			max-width: 500px;

			@include tablet-portrait {
				max-width: 1200px;
			}
		}

		// Section Header
		section.header {
			padding: 50px 0;

			@include tablet-portrait {
				padding: 100px 0;
			}

			@include tablet-landscape {
				padding: 125px 0;
			}

			h2 {
				text-align: center;
				color: $white;
				font-size: 1.75em;
				padding: 0 0 30px 0;

				@include tablet-portrait {
					font-size: 2.5em;
				}
			}

			p {
				margin: 0 auto;
				max-width: 940px;
				color: $white;
				font-size: 1em;
				line-height: 1.35em;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}

		}


		&#benefits {
			.key-background-color {
				background-color: #004F76;
			}

			.key-color {
				color: $blue;
			}

			.inset-box {
				h1, h2, h3, h4, h5, h6 {
					color: $blue;
				}
			}
		}

		&#community {
			.key-background-color {
				background-color: #48206C;
			}

			.key-color {
				color: #48206C;
			}

			.inset-box {
				h1, h2, h3, h4, h5, h6 {
					color: #48206C;
				}
			}
		}

		&#development {
			.key-background-color {
				background-color: #91004D;
			}

			.key-color {
				color: #91004D;
			}

			.inset-box {
				h1, h2, h3, h4, h5, h6 {
					color: #91004D;
				}
			}
		}

		&#perks {
			.key-background-color {
				background-color: #00806E;
			}

			.key-color {
				color: #00806E;
			}

			.inset-box {
				h1, h2, h3, h4, h5, h6 {
					color: #00806E;
				}
			}
		}


		&#wellness {
			.key-background-color {
				background-color: #1E221F;
			}

			.key-color {
				color: #1E221F;
			}

			.inset-box {
				h1, h2, h3, h4, h5, h6 {
					color: #1E221F;
				}
			}
		}


		&#workplace {
			.key-background-color {
				background-color: #004F76;
			}

			.key-color {
				color: #004F76;
			}

			.inset-box {
				h1, h2, h3, h4, h5, h6 {
					color: #004F76;
				}
			}
		}


		.content {
			padding: 50px 0;

			@include tablet-portrait {
				padding: 100px 0;
			}

			@include tablet-landscape {
				padding: 125px 0;
			}

			section.full-width-headline {
				text-align: center;
				padding: 0 0 50px 0;

				h3 {
					font-size: 1.75em;

					@include tablet-portrait {
						font-size: 2.5em;
					}
				}
			}


			section.full-width-text {
				padding: 0 0 50px 0;

				h3 {
					font-size: 1.75em;
					text-align: center;
					padding: 0 0 20px 0;

					@include tablet-portrait {
						font-size: 2.5em;
						padding: 0 0 40px 0;
					}
				}
				p {
					@include paragraph;
				}
			}


			section.full-width-inset-photo {
				img {
					margin: 0 auto;
				}
			}

			section.two-column-text {
				padding: 50px 0;

				@include tablet-portrait {
					padding: 100px 0;
				}

				.articles {
					display: grid;
					grid-template-columns: 1fr;
					grid-row-gap: 60px;

					@include tablet-portrait {
						grid-template-columns: 1fr 1fr;
						grid-column-gap: 100px;

					}

					article {

						h4 {
							font-size: 1.75em;
							font-weight: normal;
							padding: 0 0 20px 0;

							@include tablet-landscape {
								font-size: 2.25em;
								padding: 0 0 40px 0;
							}
						}

						p {
							@include paragraph;


							& + p {
								padding-top: 20px;
							}
						}

					}
				}
			}

			section.two-column-text-and-photo {
				padding: 50px 0;

				@include tablet-portrait {
					padding: 100px 0;
				}


				article {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					padding: 0 0 50px 0;
					max-width: 500px;
					margin: 0 auto;

					@include tablet-portrait {
						padding: 0 0 100px 0;
						max-width: 100%;
						margin: 0;
					}

					&:last-of-type {
						padding: 0;
					}

					.info {
						width: 100%;
						padding: 0 0 20px 0;

						@include tablet-portrait {
							width: 50%;
						}

						h4 {
							font-size: 1.75em;
							font-weight: normal;
							padding: 0 0 20px 0;

							@include tablet-landscape {
								font-size: 2.25em;
							}
						}

						p {
							@include paragraph;


							& + p {
								padding-top: 20px;
							}
						}

					}

					.photo {
						width: 100%;
						
						@include tablet-portrait {
							width: 50%;
						}
					}

					&:nth-child(even) {
						
						@include tablet-portrait {
							.info {
								padding: 0 0 0 40px;
							}

							.photo {
								order: -1;
							}
						}

					}

					&:nth-child(odd) {
						@include tablet-portrait {
							.info {
								padding: 0 40px 0 0;
							}

							.photo {
								img {
									margin-left: auto;
								}
							}
						}
					}

				}

			}


			section.full-bleed-photo {
				min-height: 200px;

				@include tablet-portrait {
					min-height: 300px;
				}

				@include tablet-landscape {
					min-height: 400px;
				}

			}

			section.inset-box {
				.inset-wrapper {
					background: #535754;
					padding: 40px;
					color: $white;

					@include tablet-portrait {
						padding: 40px 60px;
					}

					p, ul, ol, h1, h2, h3, h4, h5, h6 {
						font-weight: bold;
					}

					h1, h2, h3, h4, h5, h6 {
						font-size: 1.125em;
						line-height: 1.125em;

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}

					ul, ol {
						padding: 0;
						margin: 20px 0 0 20px;

						li {
							font-size: 1.125em;
							line-height: 1.125em;

							@include tablet-portrait {
								font-size: 1.5em;
							}

							& + li {
								padding-top: 20px;
							}


						}
					}

					ul {
						list-style-type: disc;
					}

					ol {
						list-style-type: decimal;
					}
				}
			}

			section.inset-box + section {
				padding-top: 50px;
			}

			section.full-width-text + section.two-column-text {
				padding-top: 50px;
			}

			section.full-bleed-photo + section.full-width-headline {
				padding-top: 50px;

				@include tablet-portrait {
					padding-top: 100px;
				}
			}


		}


	}

	.back-to-top-wrapper {

		a {		
			position: absolute;
			bottom: 25px;
			right: 5%;
			z-index: 1000;
			display: block;
			text-align: center;

			&.fixed {
				position: fixed;
			}

			img {
				margin: 0 auto;
			}

			span {
				display: block;
				padding: 10px 0 0 0;
				color: $charcoal;
			}

			&:hover {
				span {
					color: $blue;
				}
			}

		}

	}



}