header {
	padding: 20px 0;
	background: $white;
	box-shadow: 0 2px 4px rgba(88, 88, 88, 0.5);
	
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}


	#header-logo {
		max-width: 240px;
	}

	nav {
		display: none;
		width: 100%;

		ul.menu {
			padding: 20px 20px 20px 25px;

			a {
				padding: 10px;
				display: block;
				color: $charcoal;
				font-weight: 700;
				font-size: 1.125em;

				&:hover {
					color: $blue;
				}
			}
		}

		#header-search {
			padding: 0 0 30px 35px;
		}

		#header-shop {
			padding: 0 0 0 35px;
		}




		@include tablet-portrait {
			display: flex !important;
			width: auto;
			flex-wrap: wrap;
			align-items: center;

			ul.menu {
				display: flex;
				padding: 0;

				a {
					padding: 0 13px;
				}

				li:last-of-type a {
					padding-right: 0;
				}
			}



			#header-search,
			#header-shop {
				display: none;
				padding: 0;
			}

		}

		@include tablet-landscape {

			ul.menu {

				a {
					display: block;
					color: $charcoal;
					font-weight: 700;
					font-size: 1.25em;
					padding: 0 12px;
				}


				li:last-of-type a {
					padding-right: 12px;
				}
			}

			#header-search {
				padding: 0 0 0 13px;
			}


			#header-search,
			#header-shop {
				display: block;
			}


		}




		#header-search {
			label,
			input[type="submit"] {
				display: none;
			}

			input[type="text"] {
				border: none;
				height: 30px;
				max-width: 176px;
				padding: 0 15px 0 35px;
				font-size: 0.875em;
				background: #F2F2F2 url(images/search-icon.png) no-repeat left 10px center;
				background-size: 13px 13px;

				&:focus,
				&:active {
					outline: none;
				}

			}
		}

		#header-shop {
			a {
				display: block;
				text-indent: -99999px;
				width: 27px;
				height: 24px;
				background: url(images/shopping-cart.png) no-repeat 0 0;
				background-size: 100%;
			}

		}

	}




	#toggle {
		width: 34px;
	    cursor: pointer;
	    padding: 8px 5px 8px 5px;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    margin-right: 0;

		@include tablet-portrait {
			display: none;
		}

		.patty {
		    width: 30px;
		    height: 3px;
		    background: $blue;
		    transition: all 0.3s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 30px;
			    height: 3px;
			    background: $blue;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}

}
