body.home {

	span.play {
		width: 39px;
		height: 39px;

		@include tablet-portrait {
			width: 78px;
			height: 78px;		
		}
	}

	article.video .image {
		display: flex;
		justify-content: center;
		align-items: center;
	}


	// Hero
	section#hero {

		.slick-track{
		    display: flex;

		    .slick-slide{
		        height: auto;
		        align-items: center;
		        justify-content: center;
		    }
		}


		article {
			padding: 50px 0;
			overflow: hidden;

			@include tablet-portrait {
				padding: 75px 0;
			}

			.blurred-bg {
				display: block;
				position: absolute;
				top: -50px;
				left: -50px;
				right: -50px;
				bottom: -50px;
				filter: blur(20px);
			}

			.wrapper {
				display: flex;
				flex-wrap: wrap;


				.info {
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

					background: $white;
					text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 40px;
					width: 100%;
					order: 2;

					@include tablet-portrait {
						width: 40%;
						order: -1;
					}


					ul {
						padding: 0 0 50px 0;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;

						li {
							font-size: 1em;
							width: 100%;

							& + li {
								padding: 10px 0 0 0;
							}

							@include tablet-portrait {
								width: auto;
								position: relative;

								& + li {
									padding: 0 0 0 20px;

									&:before {
										content: '·';
										color: $blue;
										font-weight: bold;
										position: absolute;
										left: 8px;
										top: -1px;
									}
								}
							}

							a {
								font-weight: 700;
								
								letter-spacing: 0.05em;
								text-transform: uppercase;
							}
						}
					}

					h2 {
						font-size: 2.25em;
						max-width: 300px;
						margin: 0 auto;

						a {
							color: $charcoal;
						}
					}

					p {
						font-size: 1.125em;
						line-height: 1.25em;
						max-width: 300px;
						margin: 0 auto;
						padding: 25px 0;
					}

					.btn {
						font-size: 0.75em;
						max-width: 200px;
						margin: 0 auto;
					}
				}

				.image {
					width: 100%;
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
					min-height: 200px;

					@include mobile-landscape {
						min-height: 300px;
					}

					@include tablet-portrait{
						width: 60%;
					}
				}

			}

			&.video {
				.wrapper {
					.image {

					}
				}
			}
		}

	}


	// Guide Nav
	section#guide-links {
		padding: 50px 0;
		text-align: center;

		h5 {
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 0.05em;
			font-size: 1em;
			color: $white;
			padding: 0 0 20px 0;
			display: inline-block;

			a {
				color: $white;
			}
		}

		ul#menu-guide-links {

			li {

				a {

					&:hover {
						text-decoration: underline;
						color: $white;
					}

					&:before {
						display: block;
						content: '';
						background-size: 100% 32px;
						background-repeat: no-repeat;
						background-position: center bottom;
						height: 40px;
						width: 100%;
						margin-bottom: 10px;
					}
				}

				&#menu-item-34 a:before {
					background-image: url(images/icon-benefits.svg);
				}
				
				&#menu-item-35 a:before {
					background-image: url(images/icon-community.svg);
					background-size: 100% 40px;
				}
				
				&#menu-item-36 a:before {
					background-image: url(images/icon-development.svg);
				}

				&#menu-item-37 a:before {
					background-image: url(images/icon-perks.svg);
				}

				&#menu-item-38 a:before {
					background-image: url(images/icon-wellness.svg);
				}
	
				&#menu-item-39 a:before {
					background-image: url(images/icon-workplace.svg);
				}
			}
		}


	}



	// Latest
	section#latest {
		padding: 50px 0;


		h2 {
			font-weight: 400;
			font-size: 2.25em;
			padding: 0 0 10px 0;
			border-bottom: 1px solid $slate;
			margin: 0 0 50px 0;
		}

		.posts {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 25px;


			@include mobile-portrait {
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 25px;
			}

			@include tablet-landscape {
				grid-template-columns: repeat(4, 1fr);
			}

			article {
				box-shadow: 0 4px 4px rgba(205, 205, 205, 0.5);
				background: $white;

				&.video {
					.image {
						position: relative;

						span.play {
							position: absolute;
							top: 50%;
							left: 50%;
  						    transform: translate(-50%, -50%);
						}
					}
				}

				.info {
					padding: 25px 40px;
					text-align: center;

					h3 {
						font-size: 1.25em;

						a {
							color: $charcoal;
						}
					}

					ul {
						padding: 0 0 20px 0;
						display: flex;
						justify-content: center;
						flex-wrap: wrap;

						li {
							font-size: 0.75em;
							width: 100%;

							& + li {
								padding: 5px 0 0 0;
							}

							a {
								font-weight: 700;
								
								letter-spacing: 0.05em;
								text-transform: uppercase;
							}
						}

					}

				}
			}
		}

	}


	// Longform 
	section#longform {

		article {

			.wrapper {
				padding-top: 150px;
				padding-bottom: 150px;
			}

			.info {
				
				height: 100%;
				flex-direction: column;

				h4 {
					color: $dark-blue;
					font-size: 1em;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					padding: 0 0 20px 0;
				}

				h2 {
					font-size: 2.25em;
					max-width: 460px;
					padding: 0 0 45px 0;

					a {
						color: $white;
					}
				}
				.btn {
					font-size: 0.875em;
				}
			}
		}

	}


	// More
	section#more {
		padding: 75px 0 125px 0;
		overflow: hidden;

		.posts {
			display: flex;
			justify-content: space-between;
			@include wrapper-padding;

			.slick-dots {
				bottom: -30px;

				li button:before {
					background: $charcoal;
				}
				li.slick-active button:before {
					background: $blue;
				}
			}


			.slick-prev {
				left: -65px;
				z-index: 1000;
			}
			.slick-next {
				right: -65px;
				z-index: 1000;
			}


		}

		article {
			box-shadow: 0 4px 4px rgba(205, 205, 205, 0.5);
			background: $white;
			width: 100%;


			@include tablet-portrait {
				margin: 10px;
			}


			&.video {
				.image {
					position: relative;

					span.play {
						position: absolute;
						top: 50%;
						left: 50%;
						    transform: translate(-50%, -50%);
					}
				}
			}

			.image {
				min-height: 200px;
				display: block;

				@include tablet-portrait {
					min-height: 240px;
				}
			}

			.info {
				padding: 25px 40px;
				text-align: center;

				@include tablet-portrait {
					padding: 50px 40px;
				}

				ul {
					padding: 0 0 20px 0;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;

					li {
						font-size: 1em;
						width: 100%;

						& + li {
							padding: 10px 0 0 0;
						}

						@include tablet-portrait {
							width: auto;
							position: relative;

							& + li {
								padding: 0 0 0 20px;

								&:before {
									content: '·';
									color: $blue;
									font-weight: bold;
									position: absolute;
									left: 8px;
									top: -1px;
								}
							}
						}

						a {
							font-weight: 700;
							
							letter-spacing: 0.05em;
							text-transform: uppercase;
						}
					}
				}
				
				h3 {
					font-size: 1.5em;

					a {
						color: $charcoal;
					}
				}

			}

		}

	}


}