body.post-type-archive-jobs,
body.tax-dept {

	section#jobs-header {
		padding: 50px 0;

		h1 {
			text-align: center;
			font-size: 2.5em;
			color: $charcoal;

			@include tablet-portrait {
				font-size: 3em;
			}
		}
	}

	section#hero {
		height: 240px;

		@include mobile-landscape {
			height: 320px;
		}

		@include tablet-portrait {
			height: 400px;
		}

		@include desktop {
			height: 480px;
		}
	}

	section#job-types {
		padding: 50px 0 0 0;

		div#job-types-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: 25px;
			grid-column-gap: 25px;

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr;				
			}
		}

		article {
			background: $white;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

			.featured-image {
				a {
					display: block;
				}

				img {
					width: 100%;
				}
			}

			.info {
				text-align: center;
				padding: 25px;

				@include tablet-landscape {
					padding: 40px;
				}

				h3 {
					font-size: 1.5em;
					font-weight: bold;
					padding: 0 0 25px 0;

					@include tablet-portrait {
						font-size: 1.875em;
					}

					a {
						color: $charcoal;
					}
				}

				a.see-all {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: bold;
					font-size: 0.875em;
				}
			}

		}

	}

	section.filters {
		background: $white;
		padding: 15px 20px;
		box-shadow: 0 2px 4px rgba(187, 187, 187, 0.5);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		grid-column: span 2;

		& > * {
			width: 100%;

			@include mobile-landscape {
				width: auto;
			}
		}

		strong {
			font-size: 1.25em;
			display: block;
			padding: 0 0 10px 0;

			@include mobile-landscape {
				padding: 0;
			}
		}

		.filter-wrapper {
			padding: 0 0 20px 0;

			@include mobile-landscape {
				padding: 0 0 0 20px;
			}

			h5 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.75em;
				padding: 0 0 5px 0;
			}
		}

	}	

	section#job-list {
		padding: 50px 0;

		h3.cat-header {
			padding: 0 0 20px 0;
			font-size: 1.5em;
		}

		article {

			& + article {
				padding-top: 80px;
			}

			&.no-results {
				padding: 50px 0 0 0;

				h3 {
					font-weight: bold;
					font-size: 1.75em;
				}

				p {
					font-size: 1em;
				}
			}

			h4 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-weight: bold;
				color: $blue;
				padding: 0 0 20px 0;
			}
			h3 {
				font-weight: normal;
				font-size: 1.75em;
				padding: 0 0 20px 0;

				@include tablet-portrait {
					font-size: 2.25em;
				}
				a {
					color: $charcoal;

					&:hover {
						color: $blue;
					}
				}
			}

			.info {
				@include tablet-portrait {
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
				}

				.description {
					padding: 0 0 20px 0;

					@include tablet-portrait {
						max-width: 800px;
						padding: 0;
					}

					p {
						@include paragraph;
					}
				}

				.cta {
				}
			}
		}


	}


	section#learn-more {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.learn-more-wrapper {
			background: $white;
			text-align: center;
			padding: 50px;
			box-shadow: 0 2px 4px rgba(155, 155, 155, 0.5)
		}

		h2 {
			font-size: 2em;
			padding: 0 0 30px 0;

			@include tablet-portrait {
				font-size: 2.5em;
			}
		}

		p {
			font-size: 1.25em;
			line-height: 1.25em;
			padding: 0 0 30px 0;
			max-width: 870px;
			margin: 0 auto;

			@include tablet-portrait {
				font-size: 1.5em;
			}
		}

		a {
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: bold;
		}
	}

}


body.tax-dept {

	section#job-list {
		padding-top: 100px;
	}
}

body.single-jobs {

	article {

		section.article-header {
			text-align: left;
			padding: 50px 0 0 0;

			.wrapper {
				@include wrapper-padding;

			}

			h1 {
				font-size: 2em;
				text-transform: uppercase;
				padding: 0;

				@include tablet-portrait {
					font-size: 2.5em;
				}
			}

			.details {
				padding: 25px 0 0 0;

				span {
					display: inline-block;
					background: $charcoal;
					color: $white;
					padding: 5px 10px 5px 24px;

					&.location {
						background: $charcoal url(images/location.png) no-repeat center left 6px;
					}

					&.type {
						background: $charcoal url(images/type.png) no-repeat center left 6px;
					}

				}
			}

			.cta {
				padding: 50px 0 0 0;

				.btn {
					font-size: 0.875em;
					padding: 20px 35px;

				}

			}
		}

		section.article-body {
			.wrapper {
				@include wrapper-padding;

			}

			h1, h2, h3, h4, h5, h6 {
				color: $charcoal;
				padding: 20px 0 10px 0;
			}

			ul, ol {
				padding-left: 40px !important;
			}

			p, ul, ol {
				@include paragraph;
			}
		}

		section.article-footer {

			.wrapper {
				@include wrapper-padding;

			}

			.author {
				padding: 50px 0;

				p {
					max-width: 640px;
				}
			}
		}


	}
}


@keyframes spin {
  0% {
  	transform: rotate(0deg);
  }
  100% {
  	transform: rotate(360deg);
  }
}

#loader {

}

#loader {
	visibility: hidden;
}
.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(25, 144, 255, 0.2);
  border-top-color: $blue;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}