body.single-post,
body.single-jobs {
	background: $white;

	article {

		section.article-header {
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;

			@include tablet-landscape {
				padding: 75px;
				padding-bottom: 75px;
			}

			.wrapper {
				max-width: 680px;

				@include tablet-landscape {
					padding: 0;
				}
			}

			ul.post-categories {
				li {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1em;
					font-weight: 700;

					a {

					}
				}
			}

			h1 {
				font-size: 2.5em;
				font-weight: bold;
				color: $charcoal;
				padding: 50px 0 40px 0;

				@include tablet-portrait {
					font-size: 4em;
				}
			}

			span.date {
				font-size: 1.125em;
			}

		}

		section.featured-image {
			height: 200px;

			@include mobile-landscape {
				height: 300px;
			}

			@include tablet-portrait {
				height: 400px;
			}

			@include desktop {
				height: 500px;
			}

		}

		section.article-body {
			padding-top: 25px;
			padding-bottom: 25px;
			overflow: hidden;

			@include tablet-landscape {
				padding-top: 50px;
				padding-bottom: 50px;
			}

			& > *:not( img ):not( video ) {
			    margin-left: auto;
			    margin-right: auto;
			    max-width: 680px;
			    padding-left: 25px;
			    padding-right: 25px;
				transition: padding 0.2s ease-in;

				@include tablet-landscape {
				    padding-left: 0;
				    padding-right: 0;
				}

			}


			p, ul, ol {
				font-size: 1.25em;
				line-height: 1.5em;
				margin-bottom: 35px;


				@include tablet-portrait {
					font-size: 1.5em;
				}

			}

			ul, ol {
				padding-left: 60px !important;

				li {
					margin: 0 0 10px 0;
				}
			}

			ul {
				li {
					list-style-type: disc;
				}
			}

			ol {
				li {
					list-style-type: decimal;
				}
			}

			h1, h2, h3, h4, h5, h6 {
				color: $blue;
				padding-top: 15px;

				@include tablet-portrait {
					padding-top: 35px;
				}
			}

			h2, h1 {
				font-size: 1.5em;

				@include tablet-portrait {
					font-size: 1.75em;
				}
			}

			h3 {
				font-size: 1.25em;
				text-transform: uppercase;
				letter-spacing: 0.02em;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}

			h4{
				font-size: 1em;
				@include tablet-portrait {
					font-size: 1.25em;
				}
			}

			h5, h6 {
				font-size: 1em;
				text-transform: uppercase;
				letter-spacing: 0.02em;
			}

			a {
				text-decoration: underline;
			}

			blockquote {
				margin-bottom: 100px;
				max-width: 840px !important;
				position: relative;
				margin-top: 150px;

				&:before {
					display: block;
					content: '';
					width: 320px;
					height: 120px;
					background: #00EEE0;
					position: absolute;
					top: -30px;
					left: 10px;
					z-index: -1;

					@include tablet-portrait {
						width: 600px;
						height: 200px;
						top: -40px;
						left: -100px;
					}
				}

				&:after {
					display: block;
					content: '“';
					width: 600px;
					position: absolute;
					top: -20px;
					left: -80px;
					z-index: -1;
					font-size: 6em;
				}



				p {
					margin: 0;
					font-size: 1.5em;
					line-height: 1.25em;
					font-weight: 600;

					@include tablet-portrait {
						font-size: 2em;
					}
				}
			}

			img {
				margin: 0 0 35px 0;

				&.alignnone.size-full {
					width: 100%;
				}
			}

			.maxbutton {
				display: block;
			}
		}


	}






}