body.post-template-video-post {

	article {

		div.embed {

			@include tablet-landscape {
				min-height: 600px;
			}
		}

		section.article-header {
			text-align: left;
			padding-top: 75px;
			padding-bottom: 0;

			h1 {
				font-size: 2.5em;
				padding: 0 0 10px 0;
			}

			span.date {
				padding: 0;
			}
		}

	}


}