body {
	background: #F5F5F5;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

a.play,
span.play {
	background: url(images/play-icon.png) no-repeat 0 0;
	display: block;
	text-indent: -9999px;
	background-size: 100%;
	width: 78px;
	height: 78px;

	@include tablet-portrait {
		width: 156px;
		height: 156px;		
	}

}


// Guide Links
section#guide-links {
	background: $blue;
	padding: 20px 0;

	.menu {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		li {
			margin: 0 20px;
			width: 100%;
			text-align: center;

			@include mobile-landscape {
				width: auto;
			}

			a {
				color: $white;
				font-weight: bold;
				display: block;
				padding: 10px 20px;
				font-size: 1.25em;

				&:hover {
					color: #00CBF1;
				}

				&.active {
					color: #004F76;
				}
			}
		}

	}


}


.article-footer {

	.wrapper {
		padding-top: 50px;
		border-top: 1px solid #979797;
		max-width: 680px;
		padding-bottom: 100px;

		@include tablet-portrait {
			padding: 50px 0 75px 0;
		}
	}

	.author {
		display: flex;

		.image {
			img {
				display: block;
				border-radius: 50%;
				max-width: 115px;
				border: 3px solid $blue;
			}
		}

		.info {
			padding: 0 0 0 30px;

			h3 {
				font-size: 1.5em;

				a.email {
					display: inline-block;
					background: url(images/email-icon.png) no-repeat 0 0;
					background-size: 100%;
					width: 26px;
					height: 16px;
					text-indent: -9999px;
					transform: translateY(3px);
				}
			}

			p {
				padding: 30px 0 0 0;
				font-size: 1em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.125em;
				}
			}
		}
	}

	.tags {
		padding: 75px 0 0 0;

		a {
			background: #F2F2F2;
			color: $charcoal;
			display: inline-block;
			padding: 5px 15px;
			font-size: 1.125em;
		    margin: 0 0 5px 0;

			&:hover {
				background: $blue;
				color: $white;
			}
		}
	}

	.disqus-comments {
		padding: 75px 0 0 0;

		&:only-child {
			padding: 0;
		}
	}

}


section.pagination {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding: 50px 0 0 0;

	.prev {
		margin-right: auto;
	}

	.next {
		margin-left: auto;
	}
}


.overlay {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 1000000;
	width: 100%;
	background: rgba(0, 0, 0, 0.92);
	display: none;

	.wrapper {
		height: 100vh;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

	}

	.content {
		.close {
			font-weight: bold;
			background: $white;
			color: $slate;
			width: 32px;
			height: 32px;
			display: inline-block;
			text-align: center;
			line-height: 32px;
			border-radius: 50%;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			position: absolute;
			right: -16px;
			top: -16px;
			z-index: 1000;
		}
	}

	.content-wrapper {
		background: $white;
		padding: 40px;
		max-width: 500px;
		max-height: 80vh;
		overflow: scroll;
	}


	div.wpforms-container-full .wpforms-form .wpforms-description {
		margin: 0 0 50px 0;
	}
}