html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $proxima-nova;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $proxima-nova;
	font-weight: bold;
}

a {
	color: $blue;
	transition: color 0.2s ease-in-out;
}

.btn {
	display: inline-block;
	background: $blue;
	color: $white;
	padding: 15px 35px;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.05em;
	font-weight: 700;
}