/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #444;
$slate: #2a2a2a;
$black: #000;

$blue: #1990FF;
$dark-blue: #004F76;
$light-blue: #00CBF1;




/* Typography
----------------------------------*/
$proxima-nova: "proxima-nova", sans-serif;
$baskerville: "baskerville-urw",serif;